/* らくらく */

/* 共通 */
body {
	margin-bottom: 8px;
}

*[title] {
	cursor: help;
}
*[title=""] {
	cursor: default;
}
.debug {
	display: none;
}


/* 最初は隠しておくもの スクリプトで表示を制御 */
.hidden_init {
	display: none;
}


/* cssで矢印をつくる サイズはフォントサイズに依存
  .disabled を同時指定で使用不可を表す */
.left_arrow {
	display: inline-block;
	vertical-align: middle;
	border-style: solid;
	border-width: 0.5em 0.866em 0.5em 0.0em;
	border-color: transparent #08f transparent transparent;
}
.left_arrow.disabled {
	border-color: transparent #ccc transparent transparent;
}
.right_arrow {
	display: inline-block;
	vertical-align: middle;
	border-style: solid;
	border-width: 0.5em 0.0em 0.5em 0.866em;
	border-color: transparent transparent transparent #08f;
}
.right_arrow.disabled {
	border-color: transparent transparent transparent #ccc;
}
/* 数値の左右に矢印を配置 */
.arrow_input {
	white-space: nowrap;
}
.arrow_input > .left_arrow,
.arrow_input > .right_arrow {
	font-size: 80%;
}
.arrow_input > .input_number {
	margin: 0.0em 0.2em;
}

/* ダイアログのボタン */
.dialog_okcancel {
	text-align: right;
}
.dialog_okcancel.center {
	text-align: center;
}
.dialog_okcancel > .ok {
	min-width: 90px;
	margin: 1em 0.5em 1em 1.5em;
}
.dialog_okcancel > .cancel {
	min-width: 90px;
	margin: 1em 1.5em 1em 0.5em;
}

/* 共通ここまで */


/* ヘッダーのタブ */
#header_tab {
	display: flex;
	column-gap: 3px;
	row-gap: 2px;
	flex-wrap: wrap;
	user-select: none;
	margin-bottom: 3px;
}
#header_tab > div {
	padding: 2px 5px;
	border: 1px solid #444;
	border-radius: 6px;
	cursor: pointer;
	min-width: 80px;
	text-align: center;
	background-color: #ddd;
}
#header_tab > div.selected {
	font-weight: bold;
	background-color: #fff;
}


/* 使い方 */
#explanation p {
	margin: 2px 0px;
	padding-left: 1em;
}
#explanation h3 {
	margin-bottom: 0.5em;
	padding-left: 0.4em;
	background-color: #64a4ff;
}
#explanation h3:first-child {
	margin-top: 0;
}
#explanation h4 {
	margin: 0.5em 0em 0em 0em;
	padding-left: 0.5em;
	background-color: #cfe3ff;
}
#explanation h5 {
	margin: 0.5em 0em 0em 0em;
	padding-left: 0.5em;
	background-color: #cfe3ff;
}
#explanation div.formula {
	margin: 0.5em 2em;
}
#explanation div.verification_data {
	font-size: 75%;
	margin: 0.5em 1em;
}


/* 所持装備 */
#own_equipment {
	user-select: none;
}

.own_header {
	position: relative;
	display: flex;
	column-gap: 2px;
	padding: 1px 8px;
	background-color: #bbf;
}
.own_header > .flex_space {
	flex-basis: 0;
	flex-grow: 1;
}
.own_header button {
	display: block;
	min-width: 7em;
	color: #303;
	background-color: lavender;
	border: solid 1px #893dad;
	border-radius: 4px;
}
.own_header .hint {
	display: none;
	padding: 0.2em 0.5em;
	border: 1px black solid;
	position: absolute;
	top: 2em;
	right: 0em;
	background: white;
	font-size: 80%;
	z-index: 10;
}
.own_header button:hover + .hint {
	display: block;
}


#eq_displaytools {
	/*position: relative;*/
	margin: 0.3em 0.5em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 0.5em;
}
#eq_displaytools > .flex_space {
	flex-basis: 0;
	flex-grow: 1;
}
/*
#eq_displaytools .hint {
	display: none;
	padding: 0.2em 0.5em;
	border: 1px black solid;
	position: absolute;
	bottom: 2em;
	background: white;
	font-size: 80%;
	z-index: 10;
}
#eq_displaytools label:hover + .hint {
	display: block;
}
*/

#eq_category_tab {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	column-gap: 1px;
	font-size: 80%;
}
#eq_category_tab > div {
	min-width: 60px;
	padding: 0px 5px;
	border: 1px solid #444;
	border-bottom-width: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
	text-align: center;
	background-color: #ddd;
	
	color: #006;
	border-color: #008;
	background-color: #dde;
}
#eq_category_tab > div.selected {
	background-color: #fff;
	
	font-weight: bold;
	color: #00a;
	border-color: #44c;
}


/* 所持装備 > 装備一覧 */
#eq_inputarea {
	height: calc(100vh - 13.5em);
	min-height: 60vh;
	border: 1px solid #008;
	overflow-y: auto;
	user-select: none;
}

.eq_row {
	display: flex;
	align-items: stretch;
	cursor: default;
	border-bottom: 1px solid lightblue;
}
.eq_row.eq_rowheader {
	position: relative;
	z-index: 1;
	color: #006;
	background-color: white;
	border-bottom: 1px solid #008;
	text-align: center;
	white-space: nowrap;
}
.eq_row:not(.eq_rowheader):hover {
	background-color: #f0f8ff;
}

.eq_row > div {
	display: flex;
	flex-basis: 40px;
	justify-content: center;
	align-items: center;
}
.eq_row > div.eq_name {
	flex-basis: 160px;
	flex-grow: 1;
	justify-content: flex-start;
	max-width: 32em;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 6px;
}
.eq_row:not(.eq_rowheader) > div.eq_name {
	cursor: pointer;
}
.eq_row:not(.eq_rowheader) > div.eq_name:hover {
	color: blue;
	text-decoration: underline;
}
.eq_row > div.eq_main {
	flex-basis: 52px;
}
.eq_row > div.eq_main.error {
	color: red;
	font-weight: bold;
}
.eq_row > div.eq_comment {
	flex-basis: 80px;
	flex-grow: 1;
	justify-content: flex-start;
	font-size: 80%;
}


/* 所持装備 > 入力ダイアログ */
.dialog_container div.eq_dialog_inside {
	user-select: none;
	top: 2em;
	width: calc(100vw - 4em);
	max-width: 800px;
}
.dialog_container div.eq_dialog_inside .bar .title {
	font-weight: bold;
	padding-left: 0.5em;
}

.dialog_container div.eq_dialog_inside h4 {
	margin: 1em 0em 0em 0em;
	padding: 0em 1em;
	background-color: #cfe3ff;
}

.dialog_container div.eq_detail {
	margin-top: 1em;
	padding-left: 1.5em;
	display: flex;
	cursor: default;
}
.dialog_container div.eq_detail > div {
	flex-basis: 200px;
	flex-grow: 1;
}
.dialog_container div.eq_detail .eq_status {
	font-size: 80%;
}
.dialog_container div.eq_detail .eq_category {
	font-weight: bold;
}
.dialog_container div.eq_detail .eq_params {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1em;
}
.dialog_container div.eq_options {
	padding-left: 1em;
}

.dialog_container div.eq_inputs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 5px;
}
.dialog_container div.eq_inputs > div {
	flex-basis: 50px;
}
.dialog_container div.eq_inputs > div.item_total {
	flex-basis: 60px;
}
.dialog_container div.eq_inputs div.eq_star {
	text-align: center;
	color: #0c8e89;
	cursor: grab;
}
.dialog_container div.eq_inputs div.eq_star.error {
	color: #ff0000;
}
.dialog_container div.eq_inputs input.eq_countbox {
	display: block;
	text-align: right;
	width: 45px;
}
.dialog_container div.eq_inputs input.eq_countbox.zero {
	color: #aaa;
}
.dialog_container div.eq_inputs div.eq_total,
.dialog_container div.eq_inputs div.eq_totalinput
{
	text-align: center;
	font-weight: bold;
}

/* 所持装備 > リセットダイアログ */
.dialog_container .inside.reset {
	user-select: none;
}
.dialog_container .inside.reset h4 {
	margin: 1em 0em 0em 0em;
	padding: 0em 0.8em;
	background-color: #cfe3ff;
}
.dialog_container .inside.reset .contents > h4 {
	margin: 0em;
}
.dialog_container .inside.reset .contents > div {
	margin: 0.5em 1em;
}
.dialog_container .inside.reset .contents > div label {
	margin: 0em 0.4em;
}
.dialog_container .inside.reset .contents > div.button_div {
	text-align: center;
	margin-top: 1em;
}
.dialog_container .inside.reset .contents > div.button_div button {
	min-width: 6em;
	margin: 0em 0.25em;
}

/* 所持装備 > データ読み込みダイアログ */
.dialog_container .inside.convert {
	user-select: none;
}
.dialog_container .inside.convert .contents {
	padding: 0em 0.5em;
}
.dialog_container .inside.convert .contents .data_type {
}
.dialog_container .inside.convert .contents .code_area {
	width: 70vw;
	height: 20vh;
}
.dialog_container .inside.convert .contents .option {
	text-align: center;
}
.dialog_container .inside.convert .contents .option_text {
	font-size: 80%;
	width: 70vw;
	margin: auto;
}
.dialog_container .inside.convert .contents > div.button_div {
	text-align: center;
	margin: 0.5em 0em;
}
.dialog_container .inside.convert .contents > div.button_div button {
	min-width: 6em;
	margin: 0em 0.25em;
}


/* 支援艦隊 */
#support_form .support_header {
	position: relative;
	display: flex;
	column-gap: 2px;
	padding: 1px 8px;
	background-color: #aae1ff;
}
#support_form .support_header > .title {
	font-weight: bold;
}
#support_form .support_header > .flex_space {
	flex-basis: 0;
	flex-grow: 1;
}
#support_form .support_header button {
	display: block;
	min-width: 7em;
	color: #014;
	background-color: #eef9ff;
	border: solid 1px #0d5973;
	border-radius: 4px;
}
#support_form .support_header .hint {
	display: none;
	padding: 0.2em 0.5em;
	border: 1px black solid;
	position: absolute;
	top: 2em;
	right: 0em;
	background: white;
	font-size: 80%;
	z-index: 10;
}
#support_form .support_header button:hover + .hint {
	display: block;
}


#support_form h5 {
	margin: 0em 0em 0em 0.5em;
}
#support_form .optimize_tool {
	margin-left: 1em;
}
#support_form .optimize_tool button {
	min-width: 6em;
}
#support_form .optimize_tool #random_optimize_cont {
	min-width: 10em;
}
#support_form #optimize_comment {
	font-size: 80%;
	margin-left: 1.2em;
}

/* 支援艦隊 > table */
.support_table {
	font-size: 80%;
	line-height: 1.3;
	white-space: nowrap;
}
.support_table tbody th, .support_table tbody td {
	padding: 0px;
}


/* 支援艦隊 > table内select */
.support_table .parallel       { background-color: #eff;    } /* 1.0 */
.support_table .head_on        { background-color: #ffb;    } /* 0.8 */
.support_table .t_disadvantage { background-color: #fdd;    } /* 0.6 */
.support_table .t_advantage    { background-color: #dfd;    } /* 1.2 */

.support_table .line_ahead     { background-color: #eff;    } /* 1.0 */
.support_table .double_line    { background-color: #ffb;    } /* 0.8 */
.support_table .diamond        { background-color: #fed;    } /* 0.7 */
.support_table .echelon        { background-color: #fff6dd; } /* 0.75 */
.support_table .line_abreast   { background-color: #fdd;    } /* 0.6 */
.support_table .vanguard       { background-color: #fcc;    } /* 0.5 */
.support_table .combined       { background-color: #eff;    } /* 1.0 */


/* 支援艦隊 > tableヘッダー */
.support_table thead .support_type {
	font-weight: bold;
	padding-left: 6px;
}
.support_table thead .support_type.unabled    { color: red; }
.support_table thead .support_type.shelling   { color: blue; }
.support_table thead .support_type.aerial     { color: red; }
.support_table thead .support_type.aerial_asw { color: red; }
.support_table thead .support_type.torpedo    { color: red; }

.support_table thead th.fixed_header {
	text-align: right;
	padding-right: 4px;
}
.support_table thead .target > * {
	vertical-align: middle;
}
.support_table thead .target > span.postcap {
	vertical-align: text-bottom;
}
.support_table thead .batchset {
	font-size: 90%;
	margin-left: 6px;
}
.support_table thead .total_accuracy {
	font-weight: bold;
	text-align: center;
}
.support_table thead .total_accuracy.good {
	color: blue;
}

/* 支援艦隊 > table各艦 */
.support_table .number {
	width: 20px;
	text-align: center;
	cursor: default;
}
.support_table .character
, .support_table .shipclass
, .support_table .shipselect
{
	margin: 1px;
	width: 180px;
}
.support_table th.priority {
	width: 80px;
}
.support_table select.priority {
	margin: 1px;
}
.support_table .targetcell {
	padding: 1px;
}
.support_table .targetpower {
	width: 42px;
	text-align: right;
}
.support_table .displaypower {
	margin-left: 5px;
}
.support_table .power {
	color: red;
}
.support_table .power.basic {
	font-weight: bold;
}
.support_table .cost {
	padding-left: 6px;
}
.support_table .cost .fuel { color: green; font-weight: bold; }
.support_table .cost .ammo { color: sienna; font-weight: bold; }
.support_table .cost .fuelammo { color: indigo; font-weight: bold; }

.support_table .eq_dragdrop_cell {
	width: 25px;
}
.support_table .eq_dragdrop {
	text-align: center;
	cursor: default;
}
.support_table .eq_fix {
	text-align: center;
}
.support_table .eq_fix > input {
	margin: 3px;
}
.support_table .equipmentcell.raw {
	padding-left: 4px;
}
.support_table select.equipment {
	width: 300px;
	min-height: 18px;
	border-width: 0px;
}
.support_table select.star {
	border-width: 0px;
	color: #45a9a5;
}
.support_table .eq_firepower {
	height: 20px;
	width: 75px;
	text-align: center;
}
.support_table .eq_accuracy {
	width: 40px;
	text-align: center;
}
.support_table .eq_firepower.total {
	font-weight: bold;
}
.support_table .eq_accuracy.total {
	font-weight: bold;
}
.support_table .total.good {
	color: blue;
}
.support_table .total.bad {
	color: red;
}

.support_table .equipmentcell.total {
	font-weight: bold;
	padding-right: 5px;
	text-align: right;
}

.support_table .hidden {
	visibility: hidden;
}

.support_table .hidden_row {
	display: none;
}

.support_table tr {
	border: dotted 1px gray;
}
.support_table col {
	border: dotted 1px gray;
}


#support_A {
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}
#support_A th.caption {
	background-color: #fce;
}
#support_A thead th {
	background-color: #dfc;
}
#support_A tbody .number {
	background-color: #eff;
}
#support_A tbody th {
	background-color: #bef;
}
#support_A tbody .eq_dragdrop {
	background-color: lavender;
}

#support_B {
	float: left;
	margin-bottom: 0.5em;
}
#support_B th.caption {
	background-color: #ff8;
}
#support_B thead th {
	background-color: #beb;
}
#support_B tbody .number {
	background-color: #dea;
}
#support_B tbody th {
	background-color: #bde;
}
#support_B tbody .eq_dragdrop {
	background-color: lavender;
}

/* 支援艦隊 > 出力ダイアログ (.convertを継承) */
.dialog_container .inside.convert .contents > div.button_div.copy {
	text-align: right;
	margin: 0em;
}


/* オプション */
.option_header {
	margin-bottom: 0.5em;
	padding: 1px 8px;
	background-color: #9eb;
	font-weight: bold;
}
.option_block {
	margin: 0px 0px 0px 16px;
}
.option_block.comment_text {
	font-size: 80%;
	margin-bottom: 0.5em;
}
#thread_input {
	text-align: right;
	width: 3em;
}


/* 付録 */
#appendix h3 {
	/*margin: 0em 0em 0.5em 0em;*/
	margin: 0em;
	padding-left: 0.4em;
	background-color: #64a4ff;
}
#appendix > .header {
	margin: 0.5em 0em;
	padding: 1px 8px;
	background-color: #cfe3ff;
	font-weight: bold;
}

/* > ボーナス一覧 */
#bonus_viewer {
	--param-count: 9;
	--param-width: calc(49% / (var(--param-count) + 2));
}
#bonus_viewer .selector {
	line-height: 1.3;
	margin: 0.5em 1em;
}
#bonus_viewer select.character,
#bonus_viewer select.shipclass,
#bonus_viewer select.shipselect
{
	width: 180px;
}

#bonus_viewer .bonus_viewer_table {
	width: calc(100% - 2em);
	font-size: 80%;
	margin: 0.5em 1em 1em 1em;
	border-collapse: collapse;
}
#bonus_viewer .bonus_viewer_table th,
#bonus_viewer .bonus_viewer_table td
{
	padding: 0px 3px;
	border: 1px solid gray;
	white-space: nowrap;
}
#bonus_viewer .bonus_viewer_table .indep_name {
	/*width: 51%;*/
}
#bonus_viewer .bonus_viewer_table .synergy_name {
	width: 17%;
}
#bonus_viewer .bonus_viewer_table .nth,
#bonus_viewer .bonus_viewer_table .star,
#bonus_viewer .bonus_viewer_table .param
{
	width: var(--param-width);
	text-align: center;
}
/* >> 色 */
#bonus_viewer .bonus_viewer_table .firepower { background-color: #fdd; }
#bonus_viewer .bonus_viewer_table .torpedo   { background-color: #cef; }
#bonus_viewer .bonus_viewer_table .antiair   { background-color: #cfc; }
#bonus_viewer .bonus_viewer_table .ASW       { background-color: #bff; }
#bonus_viewer .bonus_viewer_table .LoS       { background-color: #efc; }
#bonus_viewer .bonus_viewer_table .armor     { background-color: #fec; }
#bonus_viewer .bonus_viewer_table .evasion   { background-color: #dff; }
#bonus_viewer .bonus_viewer_table .range     { background-color: #dde; }
#bonus_viewer .bonus_viewer_table .accuracy  { background-color: #ffd; }
#bonus_viewer .bonus_viewer_table .indep_name,
#bonus_viewer .bonus_viewer_table .synergy_name,
#bonus_viewer .bonus_viewer_table .name      { background-color: #eef5ff; }
#bonus_viewer .bonus_viewer_table .nth       { background-color: #eef5ff; }
#bonus_viewer .bonus_viewer_table .star      { background-color: #ffffff; }
#bonus_viewer .bonus_viewer_table td.star    { color: teal; }
#bonus_viewer .bonus_viewer_table .indep_header,
#bonus_viewer .bonus_viewer_table .synergy_header { background-color: #eee; }
#bonus_viewer .bonus_viewer_table .minus     { color: red; }


/* > 損害表 */
#damage {
	margin: 1em;
	font-size: 80%;
	line-height: 1.2;
}
#damage th.caption {
	font-size: 120%;
	line-height: 1.5;
	padding-left: 6px;
}
#damage th.option {
	padding-right: 4px;
}
#damage th.option label {
	margin-right: 4px;
}

#damage td.power { width: 80px; }
#damage td.cur_hp, #damage td.max_hp { width: 65px; }
#damage td.armor { width: 70px; }
#damage td.damage_lv4
, #damage td.damage_lv3
, #damage td.damage_lv2
, #damage td.damage_lv1
, #damage td.damage_lv0
{
	width: 70px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 0px;
}

#damage th { background-color: #d2d2d2; }
#damage tr.colhead th { background-color: #f0f0f0; }
#damage .damage_lv4 { color: darkblue; }
#damage .damage_lv3 { color: red; }
#damage .damage_lv2 { color: #e8860a; }
#damage .damage_lv1 { color: #808000; }
#damage .damage_lv0 { color: green; }

#damage td.percent {
	border-bottom-width: 0px;
}
#damage td.damage_bar {
	padding: 0;
	height: 5px;
	line-height: 0;
	border-top-width: 0px;
	white-space: nowrap;
}
#damage td.damage_bar > div {
	height: 5px;
	display: inline-block;
}
#damage td.damage_bar > div.damage_lv4 { background-color: darkblue; }
#damage td.damage_bar > div.damage_lv3 { background-color: red; }
#damage td.damage_bar > div.damage_lv2 { background-color: orange; }
#damage td.damage_bar > div.damage_lv1 { background-color: #ffec3c; }
#damage td.damage_bar > div.damage_lv0 { background-color: #8f8; }

/* > 三角形 */
#damage tr.triangle .tri_up
, #damage tr.triangle .tri_down
{
	cursor: pointer;
}
#damage tr.triangle .tri_up > div
, #damage tr.triangle .tri_down > div
{
	width: 0;
	height: 0;
	margin: auto;
	border-style: solid;
}
#damage tr.triangle .tri_up > div {
	border-width: 0px 8px 5px 8px;
	border-color: transparent transparent #08f transparent;
}
#damage tr.triangle .tri_up.select > div {
	border-color: transparent transparent #f80 transparent;
}
#damage tr.triangle .tri_down > div {
	border-width: 5px 8px 0px 8px;
	border-color: #08f transparent transparent transparent;
}
#damage tr.triangle .tri_down.select > div {
	border-color: #f80 transparent transparent transparent;
}

#damage input[type="number"] {
	width: 45px;
	text-align: right;
}


