/* らくらく */

/* 共通 */
body {
	margin-top: 4px;
	margin-bottom: 8px;
}

*[title] {
	cursor: help;
}
*[title=""] {
	cursor: default;
}
.debug {
	display: none;
}


/* 最初は隠しておくもの スクリプトで表示を制御 */
.hidden_init {
	display: none;
}


/* cssで矢印をつくる サイズはフォントサイズに依存
  .disabled を同時指定で使用不可を表す */
.left_arrow {
	display: inline-block;
	vertical-align: middle;
	border-style: solid;
	border-width: 0.5em 0.866em 0.5em 0.0em;
	border-color: transparent #08f transparent transparent;
}
.left_arrow.disabled {
	border-color: transparent #ccc transparent transparent;
}
.right_arrow {
	display: inline-block;
	vertical-align: middle;
	border-style: solid;
	border-width: 0.5em 0.0em 0.5em 0.866em;
	border-color: transparent transparent transparent #08f;
}
.right_arrow.disabled {
	border-color: transparent transparent transparent #ccc;
}
/* 数値の左右に矢印を配置 */
.arrow_input {
	white-space: nowrap;
}
.arrow_input > .left_arrow,
.arrow_input > .right_arrow {
	font-size: 80%;
}
.arrow_input > .input_number {
	margin: 0.0em 0.2em;
}

/* ダイアログのボタン */
.dialog_okcancel {
	text-align: right;
}
.dialog_okcancel.center {
	text-align: center;
}
.dialog_okcancel > .ok {
	min-width: 90px;
	margin: 1em 0.5em 1em 1.5em;
}
.dialog_okcancel > .cancel {
	min-width: 90px;
	margin: 1em 1.5em 1em 0.5em;
}

/* flex row/column */
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

/* 共通ここまで */


/* タイトル */
#rakuraku {
	display: inline-block;
	margin: 0 0.3em 0 0;
	font-size: 1.3em;
	vertical-align: middle;
}

/* ヘッダーのタブ */
#header_tab {
	display: inline-flex;
	column-gap: 3px;
	row-gap: 2px;
	flex-wrap: wrap;
	user-select: none;
	margin-bottom: 3px;
	font-size: 90%;
	vertical-align: middle;
}
#header_tab > div {
	padding: 2px 4px;
	border: 1px solid #444;
	border-radius: 6px;
	cursor: pointer;
	min-width: 75px;
	text-align: center;
	background-color: #ddd;
}
#header_tab > div.selected {
	font-weight: bold;
	background-color: #fff;
}


/* 使い方 */
#explanation p {
	margin: 2px 0px;
	padding-left: 1em;
}
#explanation h3 {
	margin-bottom: 0.5em;
	padding-left: 0.4em;
	background-color: #64a4ff;
}
#explanation h3:first-child {
	margin-top: 0;
}
#explanation h4 {
	margin: 0.5em 0em 0em 0em;
	padding-left: 0.5em;
	background-color: #cfe3ff;
}
#explanation h5 {
	margin: 0.5em 0em 0em 0em;
	padding-left: 0.5em;
	background-color: #cfe3ff;
}
#explanation div.formula {
	margin: 0.5em 2em;
}
#explanation div.verification_data {
	font-size: 75%;
	margin: 0.5em 1em;
}
#explanation div.recent_update {
	float: right;
	width: 30%;
	margin-left: 4px;
}
#explanation div.recent_update > h5 {
	position: absolute;
	padding: 0em 0.8em;
	margin: 0em;
}
#explanation div.recent_update > .header_bar {
	height: 0.55em;
	background-color: #cfe3ff;
}
#explanation div.recent_update > .update {
	font-size: 80%;
	height: 25em;
	overflow: auto;
}
#explanation div.recent_update > .update #csv_update {
	padding-top: 1px;
	text-align: right;
	line-height: 1.3;
	min-height: 0.75em;
}
#explanation div.recent_update > .update .date {
	margin-left: 0em;
}
#explanation div.recent_update > .update .text {
	margin-left: 0.5em;
	border-left: 1px solid #bbb;
}
#explanation div.recent_update > .update .text p {
	padding-left: 0.5em;
}

/* 所持装備 */
#own_equipment {
	user-select: none;
}

.own_header {
	position: relative;
	display: flex;
	column-gap: 2px;
	padding: 1px 8px;
	background-color: #bbf;
}
.own_header > .flex_space {
	flex-basis: 0;
	flex-grow: 1;
}
.own_header button {
	display: block;
	min-width: 7em;
	color: #303;
	background-color: lavender;
	border: solid 1px #893dad;
	border-radius: 4px;
}
.own_header .hint {
	display: none;
	padding: 0.2em 0.5em;
	border: 1px black solid;
	position: absolute;
	top: 2em;
	right: 0em;
	background: white;
	font-size: 80%;
	z-index: 10;
}
.own_header button:hover + .hint {
	display: block;
}


#eq_displaytools {
	/*position: relative;*/
	margin: 0.3em 0.5em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 0.5em;
}
#eq_displaytools > .flex_space {
	flex-basis: 0;
	flex-grow: 1;
}
/*
#eq_displaytools .hint {
	display: none;
	padding: 0.2em 0.5em;
	border: 1px black solid;
	position: absolute;
	bottom: 2em;
	background: white;
	font-size: 80%;
	z-index: 10;
}
#eq_displaytools label:hover + .hint {
	display: block;
}
*/

#eq_category_tab {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	column-gap: 1px;
	font-size: 80%;
}
#eq_category_tab > div {
	min-width: 60px;
	padding: 0px 5px;
	border: 1px solid #444;
	border-bottom-width: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
	text-align: center;
	background-color: #ddd;
	
	color: #006;
	border-color: #008;
	background-color: #dde;
}
#eq_category_tab > div.selected {
	background-color: #fff;
	
	font-weight: bold;
	color: #00a;
	border-color: #44c;
}


/* 所持装備 > 装備一覧 */
#eq_inputarea {
	height: calc(100vh - 13.5em);
	min-height: 60vh;
	border: 1px solid #008;
	overflow-y: auto;
	user-select: none;
}

.eq_row {
	display: flex;
	align-items: stretch;
	cursor: default;
	border-bottom: 1px solid lightblue;
}
.eq_row.eq_rowheader {
	position: relative;
	z-index: 1;
	color: #006;
	background-color: white;
	border-bottom: 1px solid #008;
	text-align: center;
	white-space: nowrap;
}
.eq_row:not(.eq_rowheader):hover {
	background-color: #f0f8ff;
}

.eq_row > div {
	display: flex;
	flex-basis: 40px;
	justify-content: center;
	align-items: center;
}
.eq_row > div.eq_name {
	flex-basis: 160px;
	flex-grow: 1;
	justify-content: flex-start;
	max-width: 32em;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 6px;
}
.eq_row:not(.eq_rowheader) > div.eq_name {
	cursor: pointer;
}
.eq_row:not(.eq_rowheader) > div.eq_name:hover {
	color: blue;
	text-decoration: underline;
}
.eq_row > div.eq_main {
	flex-basis: 52px;
}
.eq_row > div.eq_main.error {
	color: red;
	font-weight: bold;
}
.eq_row > div.eq_comment {
	flex-basis: 80px;
	flex-grow: 1;
	justify-content: flex-start;
	font-size: 80%;
}


/* 所持装備 > 入力ダイアログ */
.dialog_container div.eq_dialog_inside {
	user-select: none;
	top: 2em;
	width: calc(100vw - 4em);
	max-width: 800px;
}
.dialog_container div.eq_dialog_inside .bar .title {
	font-weight: bold;
	padding-left: 0.5em;
}

.dialog_container div.eq_dialog_inside h4 {
	margin: 1em 0em 0em 0em;
	padding: 0em 1em;
	background-color: #cfe3ff;
}

.dialog_container div.eq_detail {
	margin-top: 1em;
	padding-left: 1.5em;
	display: flex;
	cursor: default;
}
.dialog_container div.eq_detail > div {
	flex-basis: 200px;
	flex-grow: 1;
}
.dialog_container div.eq_detail .eq_status {
	font-size: 80%;
}
.dialog_container div.eq_detail .eq_category {
	font-weight: bold;
}
.dialog_container div.eq_detail .eq_params {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1em;
}
.dialog_container div.eq_options {
	padding-left: 1em;
}

.dialog_container div.eq_inputs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 5px;
}
.dialog_container div.eq_inputs > div {
	flex-basis: 50px;
}
.dialog_container div.eq_inputs > div.item_total {
	flex-basis: 60px;
}
.dialog_container div.eq_inputs div.eq_star {
	text-align: center;
	color: #0c8e89;
	cursor: grab;
}
.dialog_container div.eq_inputs div.eq_star.error {
	color: #ff0000;
}
.dialog_container div.eq_inputs input.eq_countbox {
	display: block;
	text-align: right;
	width: 45px;
}
.dialog_container div.eq_inputs input.eq_countbox.zero {
	color: #aaa;
}
.dialog_container div.eq_inputs div.eq_total,
.dialog_container div.eq_inputs div.eq_totalinput
{
	text-align: center;
	font-weight: bold;
}

/* 所持装備 > リセットダイアログ */
.dialog_container .inside.reset {
	user-select: none;
}
.dialog_container .inside.reset h4 {
	margin: 1em 0em 0em 0em;
	padding: 0em 0.8em;
	background-color: #cfe3ff;
}
.dialog_container .inside.reset .contents > h4 {
	margin: 0em;
}
.dialog_container .inside.reset .contents > div {
	margin: 0.5em 1em;
}
.dialog_container .inside.reset .contents > div label {
	margin: 0em 0.4em;
}
.dialog_container .inside.reset .contents > div.button_div {
	text-align: center;
	margin-top: 1em;
}
.dialog_container .inside.reset .contents > div.button_div button {
	min-width: 6em;
	margin: 0em 0.25em;
}

/* 所持装備 > データ読み込みダイアログ */
.dialog_container .inside.convert {
	user-select: none;
}
.dialog_container .inside.convert .contents {
	padding: 0em 0.5em;
}
.dialog_container .inside.convert .contents span.fleetnumber {
	color: #1ca7ad;
	font-weight: bold;
	font-size: 80%;
	margin: 0 4px 0 8px;
}
.dialog_container .inside.convert .contents select.fleetname {
	width: 8em;
}
.dialog_container .inside.convert .contents button.out {
	margin-left: 10px;
}
.dialog_container .inside.convert .contents .code_area {
	width: 70vw;
	height: 20vh;
}
.dialog_container .inside.convert .contents .option {
	text-align: center;
}
.dialog_container .inside.convert .contents .option_text {
	font-size: 80%;
	width: 70vw;
	margin: auto;
}
.dialog_container .inside.convert .contents > div.button_div {
	text-align: center;
	margin: 0.5em 0em;
}
.dialog_container .inside.convert .contents > div.button_div button {
	min-width: 6em;
	margin: 0em 0.25em;
}


/* 支援艦隊 */
#support_form .support_header {
	position: relative;
	display: flex;
	column-gap: 2px;
	padding: 1px 8px;
	background-color: #aae1ff;
}
#support_form .support_header > .title {
	font-weight: bold;
}
#support_form .support_header > .flex_space {
	flex-basis: 0;
	flex-grow: 1;
}
#support_form .support_header button {
	display: block;
	min-width: 7em;
	color: #014;
	background-color: #eef9ff;
	border: solid 1px #0d5973;
	border-radius: 4px;
}
#support_form .support_header .hint {
	display: none;
	padding: 0.2em 0.5em;
	border: 1px black solid;
	position: absolute;
	top: 2em;
	right: 0em;
	background: white;
	font-size: 80%;
	z-index: 10;
}
#support_form .support_header button:hover + .hint {
	display: block;
}


#support_form h5 {
	margin: 0em 0em 0em 0.5em;
}
#support_form .optimize_tool {
	margin-left: 1em;
}
#support_form .optimize_tool button {
	min-width: 6em;
}
#support_form .optimize_tool #random_optimize_cont {
	min-width: 10em;
}
#support_form #optimize_comment {
	font-size: 80%;
	margin-left: 1.2em;
}

/* 支援艦隊 > 艦娘ダイアログ色定義 */
.inside.ship_selector .list > .shipgroup > .ship.dd {
	color: #060;
	border-color: #484;
}
.inside.ship_selector .list > .shipgroup > .ship.bb {
	color: #00c;
	border-color: #44c;
}
.inside.ship_selector .list > .shipgroup > .ship.bbv {
	color: #60c;
	border-color: #84c;
}
.inside.ship_selector .list > .shipgroup > .ship.cv {
	color: #d00;
	border-color: #d44;
}
.inside.ship_selector .list > .shipgroup > .ship.ca {
	color: #008;
	border-color: #338;
}
.inside.ship_selector .list > .shipgroup > .ship.cav {
	color: #508;
	border-color: #638;
}


/* 支援艦隊 > Lv/運入力ダイアログ */
.dialog_container .inside.lvluck .contents {
	padding: 0.5em;
	user-select: none;
}
.dialog_container .inside.lvluck .tag {
	display: inline-block;
	min-width: 2.5em;
	text-align: center;
}
.dialog_container .inside.lvluck input[type="number"] {
	width: 4em;
	text-align: right;
	margin-right: 0.5em;
}
.dialog_container .inside.lvluck .button {
	display: inline-block;
	margin: 0px 0.2em;
	padding: 0px 0.5em;
	text-align: center;
	cursor: pointer;
	font-size: 80%;
	border: 1px solid #aaa;
	border-radius: 8px;
}
.dialog_container .inside.lvluck .button:hover {
	background-color: #efefef;
	border-color: #ddd;
}
.dialog_container .inside.lvluck .button_div {
	margin: 0.2em 0em 0em 0em;
	text-align: center;
}
.dialog_container .inside.lvluck .button_div > button {
	padding-top: 0em;
	padding-bottom: 0em;
}
.dialog_container .inside.lvluck .button_div > button.ok {
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 1em;
}
.dialog_container .inside.lvluck .text {
	font-size: 80%;
	text-align: center;
}
.dialog_container .inside.lvluck input.error {
	color: red;
}

/* 支援艦隊 > 出力ダイアログ (.convertを継承) */
.dialog_container .inside.convert.output .contents {
	width: 80vw;
}
.dialog_container .inside.convert.output .contents .code_area {
	width: calc(100% - 10px);
	height: 15vh;
}
.dialog_container .inside.convert.output .contents > div.button_div.copy {
	text-align: right;
	margin: 0em;
}
.dialog_container .inside.convert.output .contents .f_left {
	float: left;
}
.dialog_container .inside.convert.output .contents .f_right {
	float: right;
}
.dialog_container .inside.convert.output .contents div.column_div {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.dialog_container .inside.convert.output .contents div.column_div div.tool_div {
	padding-right: 0.3em;
}
.dialog_container .inside.convert.output .contents .outfleet_select {
	margin-left: 0.5em;
}


.dialog_container .inside.convert.output .contents div.column_div div.tool_div.left {
	text-align: left;
}
.dialog_container .inside.convert.output .contents div.column_div div.tool_div.right {
	text-align: right;
}
.dialog_container .inside.convert.output .contents div.column_div div.tool_div button {
	font-size: 80%;
	padding-top: 0;
	padding-bottom: 0;
}
.dialog_container .inside.convert.output .contents div.column_div div.tool_div.right button {
	margin-right: 0.5em;
}


/* オプション */
.option_header {
	margin-bottom: 0.5em;
	padding: 1px 8px;
	background-color: #9eb;
	font-weight: bold;
}
.option_block {
	margin: 0px 0px 0px 16px;
}
.option_block.comment_text {
	font-size: 80%;
	margin-bottom: 0.5em;
}
#thread_input {
	text-align: right;
	width: 3em;
}


/* 付録 */
#appendix h3 {
	/*margin: 0em 0em 0.5em 0em;*/
	margin: 0em;
	padding-left: 0.4em;
	background-color: #64a4ff;
}
#appendix > .header {
	margin: 0.5em 0em;
	padding: 1px 8px;
	background-color: #cfe3ff;
	font-weight: bold;
}

/* > ボーナス一覧 */
#bonus_viewer {
	--param-count: 9;
	--param-width: calc(49% / (var(--param-count) + 2));
}
#bonus_viewer .selector {
	line-height: 1.3;
	margin: 0.5em 1em;
}
#bonus_viewer select.character,
#bonus_viewer select.shipclass,
#bonus_viewer select.shipselect
{
	width: 180px;
}
#bonus_viewer div.selector > div.shipnamediv {
	position: relative;
	min-width: 30%;
	width: -moz-fit-content;
	width: fit-content;
	border: 1px solid lightgray;
	padding: 3px 6px 2px 6px;
}
#bonus_viewer div.selector > div.shipnamediv::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0.5em;
	bottom: 0;
	width: 0;
	height: 0;
	margin: auto;
	border-width: 0.4em 0.25em 0.00em 0.25em;
	border-style: solid;
	border-color: #bbb transparent;
}
#bonus_viewer div.selector > div.shipnamediv:hover::after {
	border-color: #8181c7 transparent;
}

#bonus_viewer .bonus_viewer_table {
	width: calc(100% - 2em);
	font-size: 80%;
	margin: 0.5em 1em 1em 1em;
	border-collapse: collapse;
}
#bonus_viewer .bonus_viewer_table th,
#bonus_viewer .bonus_viewer_table td
{
	padding: 0px 3px;
	border: 1px solid gray;
	white-space: nowrap;
}
/* #bonus_viewer .bonus_viewer_table .indep_name { width: 51%; } */
#bonus_viewer .bonus_viewer_table .synergy_name {
	width: 17%;
}
#bonus_viewer .bonus_viewer_table .nth,
#bonus_viewer .bonus_viewer_table .star,
#bonus_viewer .bonus_viewer_table .param
{
	width: var(--param-width);
	text-align: center;
}
/* >> 色 */
#bonus_viewer .bonus_viewer_table .firepower { background-color: #fdd; }
#bonus_viewer .bonus_viewer_table .torpedo   { background-color: #cef; }
#bonus_viewer .bonus_viewer_table .antiair   { background-color: #cfc; }
#bonus_viewer .bonus_viewer_table .ASW       { background-color: #bff; }
#bonus_viewer .bonus_viewer_table .LoS       { background-color: #efc; }
#bonus_viewer .bonus_viewer_table .armor     { background-color: #fec; }
#bonus_viewer .bonus_viewer_table .evasion   { background-color: #dff; }
#bonus_viewer .bonus_viewer_table .range     { background-color: #dde; }
#bonus_viewer .bonus_viewer_table .accuracy  { background-color: #ffd; }
#bonus_viewer .bonus_viewer_table .indep_name,
#bonus_viewer .bonus_viewer_table .synergy_name,
#bonus_viewer .bonus_viewer_table .name      { background-color: #eef5ff; }
#bonus_viewer .bonus_viewer_table .nth       { background-color: #eef5ff; }
#bonus_viewer .bonus_viewer_table .star      { background-color: #ffffff; }
#bonus_viewer .bonus_viewer_table td.star    { color: teal; }
#bonus_viewer .bonus_viewer_table .indep_header,
#bonus_viewer .bonus_viewer_table .synergy_header { background-color: #eee; }
#bonus_viewer .bonus_viewer_table .minus     { color: red; }


/* > 損害表 */
#damage {
	margin: 1em;
	font-size: 80%;
	line-height: 1.2;
}
#damage th.caption {
	font-size: 120%;
	line-height: 1.5;
	padding-left: 6px;
}
#damage th.option {
	padding-right: 4px;
}
#damage th.option label {
	margin-right: 4px;
}
#damage th.option button.enemyinput {
	padding: 0 0.5em;
	margin-right: 0.5em;
}

#damage td.power { width: 80px; }
#damage td.cur_hp, #damage td.max_hp { width: 65px; }
#damage td.armor { width: 70px; }
#damage td.damage_lv4
, #damage td.damage_lv3
, #damage td.damage_lv2
, #damage td.damage_lv1
, #damage td.damage_lv0
{
	width: 70px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 0px;
}

#damage th { background-color: #d2d2d2; }
#damage tr.colhead th { background-color: #f0f0f0; }
#damage .damage_lv4 { color: darkblue; }
#damage .damage_lv3 { color: red; }
#damage .damage_lv2 { color: #e8860a; }
#damage .damage_lv1 { color: #808000; }
#damage .damage_lv0 { color: green; }

#damage td.percent {
	border-bottom-width: 0px;
}
#damage td.damage_bar {
	padding: 0;
	height: 5px;
	line-height: 0;
	border-top-width: 0px;
	white-space: nowrap;
}
#damage td.damage_bar > div {
	height: 5px;
	display: inline-block;
}
#damage td.damage_bar > div.damage_lv4 { background-color: darkblue; }
#damage td.damage_bar > div.damage_lv3 { background-color: red; }
#damage td.damage_bar > div.damage_lv2 { background-color: orange; }
#damage td.damage_bar > div.damage_lv1 { background-color: #ffec3c; }
#damage td.damage_bar > div.damage_lv0 { background-color: #8f8; }

/* > 三角形 */
#damage tr.triangle .tri_up
, #damage tr.triangle .tri_down
{
	cursor: pointer;
}
#damage tr.triangle .tri_up > div
, #damage tr.triangle .tri_down > div
{
	width: 0;
	height: 0;
	margin: auto;
	border-style: solid;
}
#damage tr.triangle .tri_up > div {
	border-width: 0px 8px 5px 8px;
	border-color: transparent transparent #08f transparent;
}
#damage tr.triangle .tri_up.select > div {
	border-color: transparent transparent #f80 transparent;
}
#damage tr.triangle .tri_down > div {
	border-width: 5px 8px 0px 8px;
	border-color: #08f transparent transparent transparent;
}
#damage tr.triangle .tri_down.select > div {
	border-color: #f80 transparent transparent transparent;
}

#damage input[type="number"] {
	width: 45px;
	text-align: right;
}


/* 支援艦隊 > 表示オプション */
.fleet_display_option {
	float: right;
	font-size: 80%;
	display: flex;
	flex-direction: column;
	min-width: 200px;
	margin-top: 0.5em;
	border-radius: 6px / 3px;
	padding: 3px 2px;
	background-color: #a9dfc0;
	white-space: nowrap;
	user-select: none;
}
.fleet_display_option .button {
	background-color: #dfd;
	text-align: center;
	cursor: pointer;
}
.fleet_display_option .button:hover {
	background-color: #afa;
}
.fleet_display_option .button.shipcolumn {
	flex: 1 0 25%;
}
.fleet_display_option .button.alignment {
	flex: 1 0 25%;
}
.fleet_display_option .button.fleetcount {
	flex: 1 0 50%;
}
/* 表示オプションダイアログ */
.fleetdialog .countsrow {
	margin: 0.5em 2em;
}
.fleetdialog .countsrow .item {
	margin: 0 0.5em;
}
.fleetdialog .countsrow select {
	min-width: 3em;
}
.fleetdialog .fleetnames {
	margin: 0 2em;
}
.fleetdialog .fleetnames > div {
	text-align: center;
}
.fleetdialog .fleetnames .fname {
	width: 150px;
	margin: 0 4px;
}
.fleetdialog .comment {
	text-align: center;
	font-size: 80%;
	margin: 0.5em 0;
}
.fleetdialog .toolbar {
	text-align: center;
}
.fleetdialog .toolbar .ok,
.fleetdialog .toolbar .cancel {
	min-width: 6em;
	margin: 0 2px;
}


/* 支援艦隊 */
.fleet_container {
	display: grid;
	/* grid-template-columns: repeat(n, auto); jsから設定 */
	justify-content: center;
	align-items: flex-start;
	column-gap: 4px;
	min-width: min-content;
}
.fleet_container.autocolumn {
	display: flex;
	flex-wrap: wrap;
}
.support_fleet {
	display: grid;
	grid-template-columns: auto auto;
	padding: 2px;
	margin-bottom: 10px;
	gap: 2px;
	background-color: #e9d9f2;
	border: 1px solid #6d14a2;
}
.support_fleet .fleetinfo {
	grid-column-end: span 2;
	background-color: white;
	margin: -3px;
	margin-bottom: 0;
	border-bottom: 1px solid #6d14a2;
	display: flex;
	align-items: stretch;
	line-height: 1.3;
	text-align: center;
}
/* ヘッダーの色 */
.support_A .fleetinfo { background-color: #fef0ff; }
.support_A .fleetinfo > div.caption { background-color: #ffccee; }
.support_B .fleetinfo { background-color: #faffe0; }
.support_B .fleetinfo > div.caption { background-color: #ffff88; }
.support_C .fleetinfo { background-color: #d7f3e8; }
.support_C .fleetinfo > div.caption { background-color: #a0efd0; }
.support_D .fleetinfo { background-color: #e0ebff; }
.support_D .fleetinfo > div.caption { background-color: #b9d2ff; }
.support_E .fleetinfo { background-color: #fef0ff; }
.support_E .fleetinfo > div.caption { background-color: #ffccee; }
.support_F .fleetinfo { background-color: #faffe0; }
.support_F .fleetinfo > div.caption { background-color: #ffff88; }
.support_G .fleetinfo { background-color: #d7f3e8; }
.support_G .fleetinfo > div.caption { background-color: #a0efd0; }
.support_H .fleetinfo { background-color: #e0ebff; }
.support_H .fleetinfo > div.caption { background-color: #b9d2ff; }
.support_fleet .fleetinfo .captionbox {
	font-size: 110%;
}
.support_fleet .fleetinfo .caption {
	font-size: 110%;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}
.support_fleet .fleetinfo > div.suptypebox {
	padding: 0.2em 0.6em;
	font-size: 80%;
}
.support_fleet .fleetinfo .pad {
	flex-grow: 6;
}
.support_fleet .fleetinfo > div.cost {
	padding: 0.2em 0.6em;
	font-size: 80%;
}
.support_fleet .fleetinfo .support_type, 
.support_fleet .fleetinfo .cost .fuel,
.support_fleet .fleetinfo .cost .ammo,
.support_fleet .fleetinfo .cost .fuelammo {
	font-weight: bold;
}
.support_fleet .fleetinfo .support_type.unabled    { color: red; }
.support_fleet .fleetinfo .support_type.shelling   { color: blue; }
.support_fleet .fleetinfo .support_type.aerial     { color: red; }
.support_fleet .fleetinfo .support_type.aerial_asw { color: red; }
.support_fleet .fleetinfo .support_type.torpedo    { color: red; }
.support_fleet .fleetinfo .grow {
	flex-grow: 1;
}
.support_fleet .fleetinfo .cost .fuel { color: green; }
.support_fleet .fleetinfo .cost .ammo { color: sienna; }
.support_fleet .fleetinfo .cost .fuelammo { color: indigo; }

.support_fleet .panel {
	display: flex;
	flex-direction: column;
	width: 450px;
	border: 1px solid #6d14a2;
	border-radius: 4px;
	padding: 2px;
	font-size: 80%;
	line-height: 1.3;
	background-color: white;
}
/* 1列表示 */
.support_fleet.column1 {
	grid-template-columns: auto;
}
.support_fleet.column1 .fleetinfo {
	grid-column-end: span 1;
}
.support_fleet.column1 .panel {
	justify-self: center;
}
/* 2列表示 */
.support_fleet.column2 {
	grid-template-columns: auto auto;
}
.support_fleet.column2 .fleetinfo {
	grid-column-end: span 2;
}
.support_fleet.column2 .panel:nth-child(2n+2) {
	justify-self: right;
}
.support_fleet.column2 .panel:nth-child(2n+3) {
	justify-self: left;
}
/* 3列表示 */
.support_fleet.column3 {
	grid-template-columns: auto auto auto;
}
.support_fleet.column3 .fleetinfo {
	grid-column-end: span 3;
}
.support_fleet.column3 .panel:nth-child(3n+2) {
	justify-self: right;
}
.support_fleet.column3 .panel:nth-child(3n+3) {
	justify-self: center;
}
.support_fleet.column3 .panel:nth-child(3n+4) {
	justify-self: left;
}
/* 6列表示 */
.support_fleet.column6 {
	grid-template-columns: repeat(6, auto);
}
.support_fleet.column6 .fleetinfo {
	grid-column-end: span 6;
}

.panel .row {
	display: flex;
	flex-direction: row;
}
.panel .column {
	display: flex;
	flex-direction: column;
}
.panel .gap3 {
	justify-content: space-evenly;
	column-gap: 3px;
}
.panel .gap4 {
	justify-content: space-evenly;
	column-gap: 4px;
}
.panel .jcc {
	justify-content: center;
}
.panel .hcenter {
	display: flex;
	justify-content: center;
}
.panel .vcenter {
	display: flex;
	align-items: center;
}
.panel .hvcenter, .panel .vhcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
.panel .priority {
	flex-grow: 0;
}
.panel .grow {
	flex-grow: 1;
}
.panel .topborder {
	border-top: 1px solid #8a43b5;
	margin-top: 2px;
	padding-top: 2px;
}
.panel .hidden {
	display: none;
}
.panel .m2 {
	margin: 0px 2px;
}

.panel .panelheader {
	white-space: nowrap;
	background-color: #ebfaff;
	user-select: none;
}
.panel .number {
	width: 40px;
	flex-grow: 0;
	font-size: 16pt;
	background-color: #bef;
	cursor: default;
	user-select: none;
}
.panel .shipnamediv {
	flex-basis: 12em;
	flex-grow: 6;
	font-size: 14pt;
	padding: 2px 0.2em;
	display: flex;
	align-items: center;
}

.panel .lvluck {
	color: black;
	cursor: pointer;
	padding: 1px 0px;
	display: flex;
	justify-content: space-evenly;
}
.panel .lvluck:hover {
	background-color:#dfe8ff;
}
.panel .lvluck { color: gray; }
.panel .lvluck > .inputted { color: blue; }
.panel .lvluck > .married { color: deeppink; }
.panel .lvluck > .error { color: red; }
.panel .shipnamediv:hover {
	background-color: #d3ebff;
}

.panel .fuelammo {
	min-width: 35px;
	font-size: 95%;
	text-align: center;
}
.panel span.fuel {color: green;}
.panel span.ammo {color: sienna;}
/* fuel+ammo color: indigo; */

.panel .poweracc {
	column-gap: 3px;
}
.panel .power {
	width: 30px;
	text-align: center;
}
.panel .acc {
	width: 30px;
	text-align: center;
}
.panel .total {
	font-weight: bold;
}
.panel .total.good {
	color: blue;
}
.panel .total.between {
	color: purple;
}
.panel .total.cl1bad {
	color: #e60000;
}
.panel .total.bad {
	color: red;
}


.panel .goal {
	line-height: 1.3;
	overflow: hidden;
}
.panel .button {
	display: inline-block;
	border: 1px solid #7cd052;
	border-radius: 4px;
	background-color: #ddffcc;
	cursor: pointer;
	padding: 0.1em 0.5em;
	user-select: none;
}
.panel .button:hover {
	border-color: #4fb51c;
	background-color: #baff51;
}
.panel .button.mr {
	margin-right: 0.5em;
	margin-bottom: 1px;
	padding: 0 0.5em;
}

.panel .venemy {
	margin-bottom: -1px;
}
.panel .venemy .probs {
	font-weight: bold;
	text-align: center;
}
.panel .venemy .probs .damage_lv4 { color: darkblue; }
.panel .venemy .probs .damage_lv3 { color: red; }
.panel .venemy .probs .damage_lv2 { color: #e8860a; }
.panel .venemy .probs .damage_lv1 { color: #808000; }
.panel .venemy .probs .damage_lv0 { color: green; }
.panel .venemy .probs .miss       { color: gray; }
.panel .venemy .probbar {
	height: 4px;
	background-color: #eee;
}
.panel .venemy .probs > div {
	transition: 0.2s ease;
}
.panel .venemy .probs > div.exists {
	padding: 0 1px;
}
.panel .venemy .probbar > .bar {
	transition: 0.2s ease;
}
.panel .venemy .probbar .bar.damage_lv4 { background-color: darkblue; }
.panel .venemy .probbar .bar.damage_lv3 { background-color: red; }
.panel .venemy .probbar .bar.damage_lv2 { background-color: orange; }
.panel .venemy .probbar .bar.damage_lv1 { background-color: #ffec3c; }
.panel .venemy .probbar .bar.damage_lv0 { background-color: #8f8; }
.panel .venemy .probbar .bar.miss       { background-color: #ccc; }


.panel .fpwrow .label {
	margin: 0 0.4em;
}
.panel .fpwrow .eq_power,
.panel .fpwrow .eq_acc {
	text-align: center;
}

.panel .eqrows > div:nth-child(n+2) {
	border-top: 1px dotted gray;
}
.panel .eqrows > div.row > * {
	display: flex;
	align-items: center;
	justify-content: center;
}
.panel .eqrows > div.row > div.shipbase {
	margin-left: calc(2em + 24px);
	flex-grow: 1;
	justify-content: flex-start;
}
.panel .eq_dragdrop {
	text-align: center;
	cursor: default;
	background-color: lavender;
	flex: 0 0 2em;
	width: 2em;
}
.panel input.eq_fix {
	flex-grow: 0;
	flex-shrink: 0;
}
.panel select.equipment {
	flex: 1 1 150px;
	min-height: 18px;
	border-width: 0px;
	width: 150px;
}
.panel select.star {
	border-width: 0px;
	color: #45a9a5;
	flex-grow: 0;
	flex-shrink: 0;
}
.panel .eq_power {
	flex: 0 0 60px;
	width: 60px;
}
.panel .eq_acc {
	flex: 0 0 40px;
	width: 40px;
}



/* 敵艦ダイアログ */
.dialog_container .inside.enemy_selector {
	width: 85%;
}

.enemy_selector .row {
	display: flex;
	flex-direction: row;
}
.enemy_selector .column {
	display: flex;
	flex-direction: column;
}
.enemy_selector .grow {
	flex-grow: 1;
}
.enemy_selector span.elite {
	color: #e60000;
}
.enemy_selector span.flagship {
	color: #dbb300;
}

.enemy_selector .search_bar {
	user-select: none;
}
.enemy_selector .search_bar .mark_x {
	--color: gray;
}
.enemy_selector .search_bar .mark_x:hover {
	--color: #444;
}
.enemy_selector .search_bar .normal {
	margin: 0 .5em 0 1em;
}

.enemy_selector .list {
	flex: 1 1 60%;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #00a;
	height: 80vh;
	font-size: 80%;
	overflow-y: scroll;
}
.enemy_selector .list .listheader {
	background-color: white;
	border-bottom: 1px solid #00a;
	cursor: default;
	position: relative;
}
.enemy_selector .list .listitem {
	border-bottom: 1px solid rgb(114, 197, 224);
	cursor: pointer;
}
.enemy_selector .list .listitem:hover {
	background-color: rgb(224, 247, 255);
}
.enemy_selector .list .listitem.selected {
	background-color: rgb(193 227 255);
}
.enemy_selector .list .id {
	flex: 0 0 3.5em;
	text-align: center;
}
.enemy_selector .list .name {
	flex: 1 0 8em;
}
.enemy_selector .list .HP,
.enemy_selector .list .armor,
.enemy_selector .list .evasion,
.enemy_selector .list .luck,
.enemy_selector .list .evasion_part {
	flex: 0 0 3em;
	text-align: center;
}
.enemy_selector .list .basic_evasion {
	flex: 0 0 4em;
	text-align: center;
}
.enemy_selector .list .basic_evasion {
	display: none;
}

.enemy_selector .current {
	flex: 1 1 40%;
	white-space: nowrap;
	margin: 0 .5em;
}
.enemy_selector .current div.nameline {
	font-size: 85%;
	border-width: 3px 0px;
	border-color: #666;
	border-style: double;
	margin-bottom: 4px;
}
.enemy_selector .current div.nameline > div {
	margin: 0 .5em;
}
.enemy_selector .current div.nameline > div.shiptype {
	flex-grow: 1;
	max-width: 8em;
}
.enemy_selector .current div.statusline {
	font-size: 80%;
}
.enemy_selector .current div.statusline > div {
	margin: 0 .5em;
}
.enemy_selector .current div.caption {
	flex: 0 0 5em;
	text-align: center;
}
.enemy_selector .current div.defparam {
	flex: 0 1 4em;
	text-align: center;
}
.enemy_selector .current .question {
	color: gray;
}
.enemy_selector .current div.defparam.user {
	text-decoration: line-through;
}

.enemy_selector .current div.basic_evasion {
	flex: 0 1 8em;
	text-align: center;
}
.enemy_selector .current div.bevtext {
	flex: 1 1 8em;
	font-size: 70%;
	display: flex;
	align-items: center;
}
.enemy_selector .current input[type="number"] {
	width: 50px;
	text-align: right;
}
.enemy_selector .current .evasionpart {
	margin: 1px 0;
	border-width: 0 1px 1px 0;
	border-color: gray;
	border-style: solid;
	font-size: 75%;
} 
.enemy_selector .current .evasionpart > div.column {
	flex: 1 1 50px;
}
.enemy_selector .current .evasionpart > div.column > div {
	text-align: center;
	white-space: nowrap;
	border-width: 1px 0 0 1px;
	border-color: gray;
	border-style: solid;
}
.enemy_selector .current .damageborder {
	margin: 1px 0;
	border-width: 0 1px 1px 0;
	border-color: gray;
	border-style: solid;
	font-size: 75%;
}
.enemy_selector .current .damageborder > div.column {
	flex: 1 1 3em;
}
.enemy_selector .current .damageborder > div.column.header {
	flex: 2 2 9em;
	text-align: center;
	white-space: nowrap;
	border-width: 1px 0 0 1px;
	border-color: gray;
	border-style: solid;
}
.enemy_selector .current .damageborder > div.column > div {
	text-align: center;
	white-space: nowrap;
	border-width: 1px 0 0 1px;
	border-color: gray;
	border-style: solid;
}

.enemy_selector .current button.ok,
.enemy_selector .current button.apply,
.enemy_selector .current button.cancel {
	flex: 0 1 5em;
	margin: 2px;
}
.enemy_selector .current div.comment {
	white-space: normal;
	margin: 1em .5em;
	font-size: 80%;
	line-height: 130%;
}


/* 探索目標の設定 */
.dialog_container .inside.search_target {
	min-width: 90%;
	max-height: initial;
	width: calc(100vw - 4em);
	max-width: unset;
}
.dialog_container .inside.search_target .contents {
	max-height: calc(100vh - 2em);
}
.search_target .targettable {
	white-space: nowrap;
	text-align: center;
	overflow: auto;
	max-height: calc(100vh - 6.5em);
	border-bottom: 1px solid #819095;
}
.search_target .row {
	display: flex;
	flex-direction: row;
}
.search_target .column {
	display: flex;
	flex-direction: column;
}
.search_target .hidden {
	display: none;
}
.search_target .targettable .shiprow.highlight {
	background: linear-gradient(180deg, #99ff66 0%, #f5fff0 10%, #f5fff0 90%, #99ff66 100%);
}
.search_target .targettable .row select {
	max-width: 100%;
}
.search_target .targettable .row > div {
	flex-shrink: 0;
}
.search_target .targettable div.span2 {
	grid-column-end: span 2;
}
.search_target .targettable div.numname {
	width: calc(24px + 80px);
	flex-grow: 1;
}
.search_target .targettable div.number {
	width: 24px;
}
.search_target .targettable div.name {
	width: 80px;
	flex-grow: 1;
	text-align: left;
	overflow: hidden;
}
.search_target .targettable div.name.empty {
	color: #aaa;
}

.search_target .targettable div.modgroup {
	line-height: 1.3;
}
.search_target .targettable div.kira {
	width: 40px;
}
.search_target .targettable div.priority {
	width: 45px;
	display: flex;
	justify-content: center;
}
.search_target .targettable div.selffm {
	width: 80px;
}
.search_target .targettable div.enemyfm {
	width: 80px;
}
.search_target .targettable div.engagement {
	width: 80px;
}
.search_target .targettable div.modinfo {
	justify-content: center;
	font-size: 80%;
	position: relative;
}
.search_target .targettable div.modinfo.guide::before,
.search_target .targettable div.modinfo.guide::after {
	content: '';
	display: block;
	position: absolute;
	top: 1px;
	width: 1em;
	height: 50%;
	border: dotted blue;
}
.search_target .targettable div.modinfo.guide::before {
	left: 0.5em;
	border-width: 0 0 1px 1px;
}
.search_target .targettable div.modinfo.guide::after {
	right: 0.5em;
	border-width: 0 1px 1px 0;
}

.search_target .targettable div.targetselect {
	width: 100px;
}
.search_target .targettable div.target {
	width: 300px;
	flex-grow: 3;
	text-align: left;
	font-size: 80%;
}
.search_target .targettable .header div.target {
	font-size: 100%;
}
.search_target .targettable input.firepower,
.search_target .targettable input.damage {
	width: 45px;
	text-align: right;
}
.search_target .targettable div.venemyname {
	background-color: hsl(45deg 80% 90%);
	cursor: pointer;
	min-width: min-content;
}
.search_target .targettable div.venemyname:hover {
	color: #e65e19;
	text-decoration: underline;
}
.search_target .targettable div.venemy span.damage_lv4,
.search_target .targettable div.venemy span.damage_lv3,
.search_target .targettable div.venemy span.damage_lv2 {
	margin-left: 0.2em;
	padding: 0 0.3em;
	border-radius: 6px;
	background-color:#ffe5e5;
	cursor: pointer;
}
.search_target .targettable .fleet > div.row {
	align-items: center;
	border-bottom: 1px solid #7c4b9b;
	padding: 1px 0;
}
.search_target .targettable .fleet > div.row:last-child {
	border-bottom-width: 0;
}
.search_target .targettable .fleet > div.row.header {
	background-color:rgb(179, 236, 255);
	border: solid #3b4446;
	border-width: 1px 0;
}

.search_target div.comment {
	font-size: 80%;
	text-align: center;
	margin-top: 0.5em;
	line-height: 1.3;
}
.search_target div.toolbar {
	display: flex;
	justify-content: center;
	column-gap: 0.3em;
	margin: 0.5em 0em;
}
.search_target div.toolbar button {
	flex-basis: 7em;
}

/* 色など */
/* 攻撃側陣形 */
.search_target .selffm .line_ahead     { background-color: #eff;    } /* 1.0 */
.search_target .selffm .double_line    { background-color: #ffb;    } /* 0.8 */
.search_target .selffm .diamond        { background-color: #fed;    } /* 0.7 */
.search_target .selffm .echelon        { background-color: #fff6dd; } /* 0.75 */
.search_target .selffm .echelon_old    { background-color: #fdd;    } /* 0.6 */
.search_target .selffm .line_abreast   { background-color: #fdd;    } /* 0.6 */
.search_target .selffm .vanguard       { background-color: #fcc;    } /* 0.5 */
.search_target .selffm .combined       { background-color: #eff;    } /* 1.0 */
/* 交戦形態 */
.search_target .engagement .parallel       { background-color: #eff;    } /* 1.0 */
.search_target .engagement .head_on        { background-color: #ffb;    } /* 0.8 */
.search_target .engagement .t_disadvantage { background-color: #fdd;    } /* 0.6 */
.search_target .engagement .t_advantage    { background-color: #dfd;    } /* 1.2 */
/* 火力目標 */
.search_target .targettable div.target span.basic_power {
	color: red;
	font-weight: bold;
}
.search_target .targettable div.target span.display_power {
	color: red;
}
/* 仮想敵ダメージ */
.search_target .targettable div.venemy span.damage_lv4 { color: darkblue; }
.search_target .targettable div.venemy span.damage_lv3 { color: #eb0000; /* color: red; */ }
.search_target .targettable div.venemy span.damage_lv2 { color: #a86205; /* color: #e8860a; */ }


/* 計算式 */
#support_formula {
	margin-bottom: 10em;
}
#support_formula .header {
	padding: 1px 8px;
	background-color: #aae1ff;
	font-weight: bold;
}
#support_formula h4 {
	margin: 0.25em 0;
	padding: 0 0.5em;
	background-color: #f9c8d3;
}
#support_formula p {
	margin: 2px 0px;
	padding-left: 1em;
}
#support_formula p.small {
	font-size: 80%;
}

