/* 全ページ共通css */

body {
	margin-bottom: 20vh;
}

h1.small_header {
	font-size: 160%;
}


a.refer {
	font-size: 80%;
}

.footer {
	font-size: 80%;
}
.footer > hr {
	border-width: 0px 0px 1px 0px;
}
.footer > .right {
	float: right;
}

/* 選択不可 */
.noselect {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* テーブル汎用 */
/* th, td に black の線 */
table.black_border {
	border-collapse: collapse;
}

table.black_border th
, table.black_border td
{
	border: 1px solid black;
}

/* th, td 以外に --table_graycolor の線をつける */
/* th, td が優先になるはずだが、Firefox がうまく解決してくれない場合が・・・ */
:root {
	--table_graycolor: #aaa;
}

table.back_border
, table.back_border thead
, table.back_border tbody
, table.back_border tfoot
, table.back_border tr
, table.back_border col
{
	border: 1px solid var(--table_graycolor);
}

/* こっちで指定も可 */
table.black_border.gray_all, table.black_border *.gray_all {
	border: 1px solid var(--table_graycolor);
}
table.black_border.gray_tb, table.black_border *.gray_tb {
	border-top: 1px solid var(--table_graycolor);
	border-bottom: 1px solid var(--table_graycolor);
}
table.black_border.gray_rl, table.black_border *.gray_rl {
	border-right: 1px solid var(--table_graycolor);
	border-left: 1px solid var(--table_graycolor);
}

/* ボーダーを消す */
table.black_border.n_all, table.black_border *.n_all {
	border-width: 0px;
}
table.black_border.n_tb, table.black_border *.n_tb {
	border-top-width: 0px;
	border-bottom-width: 0px;
}
table.black_border.n_rl, table.black_border *.n_rl {
	border-right-width: 0px;
	border-left-width: 0px;
}
table.black_border.n_t, table.black_border *.n_t {
	border-top-width: 0px;
}
table.black_border.n_r, table.black_border *.n_r {
	border-right-width: 0px;
}
table.black_border.n_b, table.black_border *.n_b {
	border-bottom-width: 0px;
}
table.black_border.n_l, table.black_border *.n_l {
	border-left-width: 0px;
}

/* 周囲を太く */
table.black_border.around2 {
	border-width: 2px;
}


/* table 自体を真ん中に */
table.center {
	margin-left: auto;
	margin-right: auto;
}

/* セルのテキスト */
table.center_text {
	text-align: center;
}

th.left, td.left {
	text-align: left;
}
th.right, td.right {
	text-align: right;
}
th.center, td.center {
	text-align: center;
}

/* お知らせと期間限定で表示する要素 */
.notice {
	border-left: 4px gray solid;
	padding-left: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.limited_notice {
	display: none;
}

/* メッセージバー (MessageBar) */
.message_bar {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	background-color: white;
	
	padding: 0px 0.5em;
	border-style: solid;
	border-width: 1px 0px 0px 10px;
	border-color: gold;
}
.message_bar.hide_animation {
	/* これをセットするまでの時間はスクリプトで指定する */
	transition: transform 1000ms 0ms ease;
	transform: translateY(100%);
}
.message_bar.hide {
	display: none;
}


/* 読込・保存ツールバー */
.toolbar {
	margin: 0.5em 0em;
}
.toolbar > div {
	display: inline-block;
	margin-right: 1em;
}
.toolbar select, .toolbar button {
	margin: 0px 1px;
}
.toolbar .hidden {
	/*display: none;*/ /* ボタンの位置が変わってしまうのはいまいち… */
	visibility: hidden;
}

.toolbar .record_list {
	width: 200px;
}

.toolbar .record_name {
	width: 200px;
	margin: 1px 3px;
}
.toolbar .save_button {
	min-width: 100px;
}

